# GitHub repo to commit to
GITHUB_REPO=https://github.com/modShik/streakkeeper

# Path to session file (auto-created on first --auth run)
SESSION_FILE=./sessions/github.json

# Path to your system Chromium
CHROMIUM_PATH=/snap/bin/chromium

# Cron schedule (default: 9 PM every day)
SCHEDULE=0 21 * * *

# Randomization window in minutes (±N minutes from schedule time)
JITTER_MINUTES=20

# true = run browser in background (use after testing)
HEADLESS=false

GITHUB_BRANCH=main
